<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', path='css/bootstraps/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', path='css/bootstraps/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', path='css/aos.css') }}" />
    </head>
    <body class="bg-transparent">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a href="/app/" class="navbar-brand">
                    <img src="{{ url_for('static', path='/assets/images/brand.png') }}" height="35px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#documentsnavbar" aria-controls="documentsnavbar"
                    aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="documentsnavbar">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link mx-2 active" aria-current="page" href="#">Home</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Table Contents -->
            <main class="flex-lg-shrink-0">
                <section class="vh-100" style="background-color: rgb(117, 253, 244);">
                    <div class="row justify-content-center">
                        <div class="container-fluid" style="background-color: azure;">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="mb-3 mt-3">
                                    <div class="row justify-content-end ms-2 mb-2">
                                        <button class="btn btn-warning" type="button" style="width: 25%;">Export as XLSX</button>
                                    </div>
                                    <div class="table-responsive mt-4 mb-4">
                                        <table class="table table-bordered align-middle mb-0 bg-white table-hover">
                                            <thead class="bg-light text-center" style="position: sticky;">
                                                <tr>
                                                    <th>No</th>
                                                    <th>Document no</th>
                                                    <th>Type</th>
                                                    <th>Subject</th>
                                                    <th>Model</th>
                                                    <th>Description</th>
                                                    <th>Filename</th>
                                                    <th>PIC</th>
                                                    <th>Option</th>
                                                </tr>
                                            </thead>
                                            <tbdody></tbdody>
                                                {% for document in recorded_documents %}
                                                <tr>
                                                    <td class="text-center">{{ document.id }}</td>     
                                                    <td class="text-center">{{ document.document_no }}</td>
                                                    <td class="text-center">{{ document.document_type }}</td>
                                                    <td class="text-center">{{ document.document_subject }}</td> 
                                                    <td class="text-center">{{ document.document_description }}</td>
                                                    <td class="text-center">{{ document.model_tv }}</td>          
                                                    <td class="text-center"><a href="/app/documents/serverfile/dynamic/api/{{ document.document_no }}" target="_blank">{{ document.filename }}</a></td>
                                                    <td class="text-center">{{ document.uploader }}</td>                     
                                                </tr>
                                                {% endfor %}
                                            </tbdody>
                                        </table>
                                    </div>
                                    <nav aria-label="Pagination">
                                        <ul class="pagination justify-content-center">
                                            {% if page > 1 %}
                                            <li class="page-item"><a class="page-link" href="/app/documents/?page={{ page - 1 }}&perpage={{ limit }}">Previous</a></li>
                                            {% endif %}

                                            {% for page_num in range(1, total_pages + 1) %}
                                            <li class="page-item {% if page == page_num %}active{% endif %}">
                                                <a class="page-link" href="/app/documents/?page={{ page_num }}&perpage={{ limit }}">{{ page_num }}</a>
                                            </li>
                                            {% endfor %}

                                            {% if page < total_pages %}
                                            <li class="page-item"><a class="page-link" href="/app/documents/?page={{ page + 1 }}&perpage={{ limit }}">Next</a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>

        <script src="{{ url_for('static', path='js/bootstraps/bootstrap.min.js') }}"></script>

    </body>
</html>