<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title></title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/bootstraps/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', path='css/bootstraps/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap-icons.css') }}" />
    </head>
    <body class="bg-transparent">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a href="/app" class="navbar-brand">
                    <img src="{{ url_for('static', path='assets/images/brand-logo.png') }}" height="35px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarUpload" aria-controls="navbarUpload">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarUpload">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link mx-2 active" href="/app">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="">Upload Document</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="">Document List</a> 
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container">
                <div class="row md-5 ms-5 mt-2 justify-content-center align-items-center">
                    <h3><strong>Upload Document</strong></h3>
                </div>
                <div class="row md-5 ms-5 mt-4 justify-content-center align-items-center">
                    <div class="col">
                        <form method="POST" action="/app/document/upload/upload_report" enctype="multipart/form-data">
                            <div class="mt-2">
                                <label for="documentNo" class="form-label">Document Number</label>
                                <input type="text" id="documentNo" name="documentNo" class="form-control" style="width: 45%;">
                            </div>
                            <div class="mt-2">
                                <label for="documentType" class="form-label">Document Type</label>
                                <select class="form-select" id="documentType" name="documentType" style="width: 45%;">
                                    {% for type in document_type %}
                                        <option value="{{ type }}">{{ type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mt-2">
                                <label for="subjectDocument" class="form-label">Document Subject</label>
                                <textarea class="form-control" id="subjectDocument" name="subjectDocument" style="width: 45%;"></textarea>
                            </div>
                            <div class="mt-2">
                                <label for="documentDesc" class="form-label">Document Description</label>
                                <textarea class="form-control" id="documentDesc" name="documentDesc" style="width: 45%;"></textarea>
                            </div>
                            <div class="mt-2">
                                <label for="model_tv" class="form-label">Model</label>
                                <input type="text" class="form-control" id="model_tv" name="m_tv_broad" style="width: 45%;">
                            </div>
                            <div class="mt-2">
                                <label for="uploadFile" class="form-label">Upload File</label>
                                <input class="form-control form-control-sm" id="uploadFile" name="file" type="file" required style="width: 45%;">
                            </div>
                            <div class="mt-2">
                                <label for="distributed_to" class="form-label">Distributed To</label>
                                <select class="form-control" id="distributed_to" style="width: 45%;">
                                    {% for dest in destination %}
                                        <option value="{{ dest }}">{{ dest }}</option>
                                    {% endfor %}
                                </select>   
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h5 class="text-white">
                            <i class="bi-geo-alt-fill me-2"></i>
                            PT SHARP Electronics Indonesia, TV Engineering
                        </h5>
                        <a href="mailto:tv_eng@seid.sharp-global.com" class="custom-link">tv_eng@seid.sharp-world.com</a>
                    </div>
                    <div class="col-6">
                        <p class="copyright-text mb-0">Copyright © TV Engineering</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>